<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head lang="en" th:fragment="contact">
<meta charset="ISO-8859-1"></meta>
<title>Contact</title>
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div th:fragment="contact">
<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2>Contactez moi</h2>
          <hr class="star-light"></hr>
          <span>Vous avez une question ou un commentaire? Remplissez les informations ci-dessous et nous vous répondrons dans les plus brefs délais.</span>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
	            <form name="sentMessage" id="contactForm" novalidate="false">
	                <div class="row control-group">
	                    <div class="form-group col-xs-12 floating-label-form-group controls">
	                        <label>Name</label>
	                        <input type="text" class="form-control" placeholder="Nom" id="name" required="true" data-validation-required-message="Please enter your name."></input>
	                        <p class="help-block text-danger"></p>
	                    </div>
	                </div>
	                <div class="row control-group">
	                    <div class="form-group col-xs-12 floating-label-form-group controls">
	                        <label>Email Address</label>
	                        <input type="email" class="form-control" placeholder="Address Email" id="email" required="true" data-validation-required-message="Please enter your email address."></input>
	                        <p class="help-block text-danger"></p>
	                    </div>
	                </div>
	                <div class="row control-group">
	                    <div class="form-group col-xs-12 floating-label-form-group controls">
	                        <label>Phone Number</label>
	                        <input type="tel" class="form-control" placeholder="Téléphone" id="phone" required="true" data-validation-required-message="Please enter your phone number."></input>
	                        <p class="help-block text-danger"></p>
	                    </div>
	                </div>
	                <div class="row control-group">
	                    <div class="form-group col-xs-12 floating-label-form-group controls">
	                        <label>Votre Message</label>
	                        <textarea rows="5" class="form-control" placeholder="Message" id="message" required="true" data-validation-required-message="Please enter a message."></textarea>
	                        <p class="help-block text-danger"></p>
	                    </div>
	                </div>
	                <br></br>
	                <div id="success"></div>
	                <div class="row">
	                    <div class="form-group col-xs-12">
	                        <button type="submit" class="btn btn-success btn-lg">Envoyez</button>
	                    </div>
	                </div>
	            </form>
        	</div>
    	</div>
	</div>
</div>
</body>
</html>