<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head lang="en" th:fragment="footer">
    <meta charset="UTF-8"></meta>
<title th:text="#{footer.title}"></title>
</head>
<body>
<div th:fragment="footer">
<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <h3 th:text="#{footer.location}"></h3>
                <p>
                	<span th:text="#{footer.location.address}"></span>
                	<br></br>
                	<span th:text="#{footer.location.plz}"></span>
                </p>
            </div>
            <div class="footer-col col-md-4">
                <h3 th:text="#{footer.info}"></h3>
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                 </ul>
            </div>
            <div class="footer-col col-md-4">
                <h3 th:text="#{footer.info.about.title}"></h3>
                <p>
                	<span th:text="#{footer.info.about.text1}"></span>
                	<a href="#about" th:text="#{footer.info.about.link.text}"></a> 
                	<span th:text="#{footer.info.about.text2}"></span>
                </p>
            </div>
             <div class="footer-col col-md-4">
             <h3>
             	<a class="portfolio-link" href="#authorNote" data-toggle="modal" th:text="#{footer.author.note}"></a>
             </h3>
             </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span  th:text="#{footer.copyright.text1}"></span>
                <span>&copy; </span>
                <span  th:text="#{footer.copyright.text2}"></span>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>