<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head lang="en" th:fragment="footer">
<meta charset="ISO-8859-1"></meta>
<title>Footer</title>
</head>
<body>
<div th:fragment="footer">
<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <h3>Location</h3>
                <p>Klenzepfad 
                    <br></br>13407, Berlin</p>
            </div>
            <div class="footer-col col-md-4">
                <h3>Autour du web</h3>
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                 </ul>
            </div>
            <div class="footer-col col-md-4">
                <h3><a href="#about">A Propos d'agile Coaching</a></h3>
                <p>Travaillez avec <a href="#about">Agile Coaching</a> pour vos projects informatiques</p>
            </div>
             <div class="footer-col col-md-4">
             <h3>
             	<a class="portfolio-link" href="#portfolioModal7" data-toggle="modal">Note sur l'auteur</a>
             </h3>
             </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; Agile Coaching 2017
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>