<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head lang="en" th:fragment="portfolio">
<meta charset="ISO-8859-1"></meta>
<title>Portfolio</title>
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div th:fragment="portfolio">
	<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Home</h2>
                    <hr class="star-primary"></hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                	<h4>Agile</h4>            
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/cabin.png" class="img-responsive" alt=""></img>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h4>Scrum</h4>
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/cake.png" class="img-responsive" alt=""></img>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h4>Le Scrum Master</h4>
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/circus.png" class="img-responsive" alt=""></img>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h4>L'équipe</h4>
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/game.png" class="img-responsive" alt=""></img>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h4>Le Product Owner</h4>
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/safe.png" class="img-responsive" alt=""></img>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h4>Les Sprints</h4>
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt=""></img>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h4>Le Product Backlog</h4>
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt=""></img>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h4>User Stories</h4>
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt=""></img>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h4>Spring planning et Spring Chart</h4>
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt=""></img>
                    </a>
                </div>
            </div>
        </div>
</div>
</body>
</html>